.reset-password-page {
    .sign-in {
        &.hide {
            display: none;
        }
    }
    .sign-up {
        &.hide {
            display: none;
        }
    }
    .verify-email {
        &.hide {
            display: none;
        }
    }
}
