// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import '../../style/index.scss';

.jui-textfield{
    @apply inline-flex flex-col relative min-w-0 p-0 m-1 border-0 align-top;

    &.disabled{
        @include jui-disabled;
        @apply pointer-events-none;

        .jui-inputBase:hover::before{
            @include jui-disabled;
            @apply border-b border-solid border-gray-300;
        }
    }

    &:focus-within{
        .jui-label{
            @apply text-sm text-primary-light;
            transform: translate(0px, -2px) scale(1);
        }
        .jui-inputBase::after{
            transform: scaleX(1);
        }
    }
    .jui-label{
        @apply text-primary-text-dark p-0 block origin-top-left whitespace-nowrap  z-10
        overflow-hidden overflow-ellipsis absolute left-0 top-0 pointer-events-none;

        transform: translate(10px, 25px) scale(1);
        transition: all 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        &.hasText{
            transform: none;
            font-size: 0.8rem;
        }
    }
    .jui-inputBase{
        @apply font-bold text-gray-900 cursor-text inline-flex box-border items-center relative mt-4;
        
        width: 200px;
        &.md{
            width: 200px;
        }
        &.sm{
            width: 100px;
        }
        &.larg{
            width: 300px;
        }

        &:focus-within{
            @apply bg-white bg-opacity-20;
        }

        &.hasEndAction{
            .jui-input{
                padding-right: 60px;
            }
        }

        &:hover::before{
            @apply border-b-2 border-solid border-primary-dark;

        }
        &::before{
            @apply left-0 bottom-0 absolute right-0 pointer-events-none border-b border-solid border-gray-300;

            content: " ";
            transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
        &::after{
            @apply left-0 bottom-0 absolute right-0 pointer-events-none border-b-2 border-solid border-primary;

            content: " ";
            transform: scaleX(0);
            transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
        .jui-input{
            @apply border-0 px-1 h-6 box-content m-0 block min-w-0 w-full outline-none text-primary-text;
            background-color: unset;
            animation-name: jui-auto-fill-cancel;
            animation-duration: 10ms;
            &:focus{
                outline-width: 0;
                border: 0px;
                box-shadow: 0 0 0px;
            }
        }
        .jui-input-positionEnd{
            position: absolute;
            right: 0px;
            width: 60px;
        }
    }
}

@keyframes jui-auto-fill-cancel {
    0% {
        display: block;
    }
}