.iadc-menubar {
    @apply h-full w-40 flex flex-col items-center;
    background-color: #3e6eb1;
    @media (max-width: 810px) {
        @apply w-full h-24 flex items-center justify-evenly flex-row;
    }

    @media (max-width: 400px) {
        @apply p-3;
    }

    @media (max-height: 750px) {
        @apply p-3;
    }
    .user-status {
        @apply flex flex-col;
        @media (max-width: 810px) {
            @apply flex flex-row;
        }
        .hello {
            @apply text-white my-5 flex flex-col items-center;
            @media (max-width: 810px) {
                @apply my-0 mr-3;
            }
        }
        .divider {
            @apply w-full mb-5;
            border: 1px solid rgb(255, 255, 255);
            @media (max-width: 810px) {
                @apply hidden;
            }
        }
    }
    .page-btn {
        @apply w-full p-2 my-1 text-white;
        background-color: #3e6eb1;
        @media (max-width: 810px) {
            @apply w-20 rounded-md text-gray-700;
            background-color: #e5f0ff;
        }
        @media (max-width: 400px) {
            @apply w-12;
        }
        &.logout {
            @apply bg-rose-400;
        }
        &:hover {
            @apply text-gray-700;
            background-color: #e5f0ff;
            transition: 0.3s;
        }
    }
}
